In [1]:
#1.	Write a function to calculate the multiplication and sum of two numbers.
def multipy_sum(x,y):
    print(x*y, x+y)

In [3]:
multipy_sum(10,5)

50 15

In [4]:
#2.	Write a function to print the sum of the current number and the previous number
def current_previous(x):
    previous = (x-1)
    print(x + previous)

In [5]:
current_previous(10)

19

In [6]:
#3.	Write a function to print characters from a string that are present at an even index number
def char_string(x = 'default string'):
    i = 0
    while i < len(x):
        print(x[i], end ='')
        i = i + 2

In [7]:
char_string('important')

iprat

In [8]:
#4.	Write a function to remove first characters from a string
def first_char(A):
    print(A.replace(A[0], ''))

In [9]:
first_char('Blessing')

lessing

In [10]:
#5.	Write a function to check if the first and last number of a list is the same
def same_char():
    A = [1,2,3,4,5,6,7]
    if A[0] == A[-1]:
        print('True')
    else:
        print('False')

In [11]:
same_char()

False

In [20]:
#6.Write a function to print multiplication table from 1 to 10
def table():
    for i in range(1,11):
        print("")
        for x in range(1,13):
            print(i * x, '', end = '')

In [21]:
table()

1 2 3 4 5 6 7 8 9 10 11 12
2 4 6 8 10 12 14 16 18 20 22 24
3 6 9 12 15 18 21 24 27 30 33 36
4 8 12 16 20 24 28 32 36 40 44 48
5 10 15 20 25 30 35 40 45 50 55 60
6 12 18 24 30 36 42 48 54 60 66 72
7 14 21 28 35 42 49 56 63 70 77 84
8 16 24 32 40 48 56 64 72 80 88 96
9 18 27 36 45 54 63 72 81 90 99 108
10 20 30 40 50 60 70 80 90 100 110 120

In [22]:
#7.	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.
def odd_even():
    A = [1,2,3,5,7,8,10]
    B = [2,4,9,11,12,15,18]
    C = []
    for i in A:
        if i % 2 > 0:
            C.append(i)
    for x in B:
        if x % 2 == 0:
            C.append(x)
    print(C)

In [23]:
odd_even()

[1, 3, 5, 7, 2, 4, 12, 18]